<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

<div class="navbar">
    <div class="top-left">
        <p>EMOBILIS MOBILE</p>
    </div>
    <div class="top-right">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">INFO</a></li>
        </ul>
    </div>
</div>
<div class="middle-part">
    <div class="middle-top">
        <h4>WELCOME TO EMOBILIS MOBILE</h4>
    </div>
    <div class="button">
        <button class="bt-1">Download</button>
        <button class="bt-2">welcome</button>
    </div>
</div>

<h2>This is the home page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis expedita non odio placeat sint. Ad deleniti distinctio et exercitationem ipsum iure, nulla odit perferendis reiciendis repellendus sapiente veritatis? Ipsam, vitae!</p>
<img src="{% static "img/bg.jpeg" %}" alt="">
<img src="{% static "img/mercedes.jpeg" %}" alt="">
<img src="{% static "img/mercedes1.jpeg" %}" alt="">
<img src="{% static "img/toyota.jpeg" %}" alt="">

<div class="cols">
    <div class="col-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum labore necessitatibus nulla officiis? Blanditiis doloribus est eveniet exercitationem, facere hic ipsa iure iusto magnam perspiciatis provident quaerat quam quis, repellendus?
    </div>
    <div class="col-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ex facere fugit iste magnam molestiae mollitia praesentium qui quod voluptatem? Consectetur dolor dolore eos, eveniet exercitationem laboriosam non quia ut.
    </div>
    <div class="col-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae debitis eaque neque optio quam, quibusdam totam. Animi dignissimos dolorum eos harum nam. Commodi, deserunt doloremque iure nobis pariatur rerum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi corporis, delectus earum nam nihil nisi placeat quisquam, quos sapiente tempora vitae! Hic necessitatibus odit praesentium quibusdam quo saepe veniam?
    </div>
</div>

</body>
</html>